// Colors

$primary: rgb(0, 0, 0);
$secondary: rgb(0, 0, 0);
$accent: rgb(0, 0, 0);
$text: rgb(0, 0, 0);
$textSecondary: rgb(0, 0, 0);
$title: rgb(0, 0, 0);
$titleSecondary: rgb(0, 0, 0);
$button: rgb(0, 0, 0);
$background: rgb(171, 171, 171);
$secondaryBackground: rgb(0, 0, 0);

//Fonts

@mixin titleFont ($size) {
    font-size: $size;
    font-family: 'Marcellus', serif;;
}

@mixin textFont ($size) {
    font-size: $size;
    font-family: "Light", sans-serif;
}

//Flex

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}