// Colors

$primary: #902123;
$secondary: #BFBFB5;
$accent: #902123;
$text: #222020;
$textSecondary: rgb(255, 255, 255);
$title: #222020;
$titleSecondary: #222020;
$button: #902123;
$background: #FFFFFF;
$secondaryBackground: #BFBFB5;

//Fonts

@mixin titleFont ($size) {
    font-size: $size;
    font-family: 'Marcellus', serif;;
}

@mixin textFont ($size) {
    font-size: $size;
    font-family: "Light", sans-serif;
}

//Flex

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}