
.bannerHome{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

.bannerHome{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after ,
.swiper-button-prev:after {
  color: black !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

}