@import "../../../../sass/theme.scss";

.cardOptions{
    @include flex(column, center, center);
    width: 800px;
    margin: 40px;
    .aseguradoras_title{
        @include textFont(18px);
    }
    h1{
        @include titleFont(25px);
        margin-bottom: 40px;
    }
    img{
        width: 500px;
    }
    p{
        @include textFont(18px);
        margin: 40px;
        text-align: center;
    }
}