@import "../../../../sass/theme.scss";

.retiro{
    margin: 80px 0px;
    .retiro_title{
        @include titleFont(44px);
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }
    .retiro_div{
        @include flex(row, center, center);
        .retiro_card{
            @include flex(column, center, center);
            max-width: 350px;
            height: 350px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            margin: 30px;
            padding: 20px;
            border-radius: 20px;
            img {
                width: 80px;
                height: 80px;
            }
            h2{
                @include textFont(28px);
                margin: 10px 0px 15px 0px;
            }
            p {
                @include textFont(20px);
                text-align: justify;
            }
        }
    }
    
}