@import "../../../../../../sass/theme.scss";

.imgSwiper_container {
    @include flex(row, space-around, center);
    img{
        max-width: 260px;
        max-height: 130px;
    }
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

.imgSwiper_container{
    @include flex(row, center, center);
    img{
        max-width: 80px;
        max-height: 40px;
        margin: 0px 10px;
    }
}
}