@import "../../../../../../sass/theme.scss";

.inversiones_card{
    @include flex(row, center, center);
    max-width: 424px;
    height: 250px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.25);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: $background;
    .inversiones_text_container{
        h2{
            @include textFont(25px);
            margin: 10px 0px 15px 0px;
            text-align: center;
        }
        p {
            @include textFont(18px);
            text-align: center;
        }
    }
    .inversiones_img_container{
        align-self: flex-start;
        margin-right: 20px;
        img{
            
            width: 96px;
            height: 96px;
        }
    }
    
}