@import "../sass/theme.scss";

nav{
    @include flex(row, space-around, center);
    background-color: $background;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    .nav_divLogo{
        margin: 0px 30px;
        img {
            width: 80px;
            height: auto;
        }
    }
    .nav_divLinks{
        margin: 0px 50px;
        .nav_link{
            @include titleFont(25px);
            color: $title;
            text-decoration: none;
            margin: 0px 40px;
        }
    }
}