@import "../../sass/theme.scss";

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $secondary;
    .footer_div{
        text-align: left;
        width: 33%;
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        h2{
            @include textFont(25px);
            font-weight: 800;
            margin: 2rem 0rem 0.5rem 0rem;
        }
        div{
            display: flex;
            align-items: center;
            p{
                margin-left: 0.4rem;
            }
        }
        a{
            text-decoration: none;
            color: #000000;
            @include textFont(18px);
            margin: 0.25rem 0rem;
        }
        p{
            @include textFont(18px);
            margin: 0.5rem 0rem;
        }
        img{
            width: 200px;
            text-align: center;
        }
    }
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .footer{
        display: flex;
        flex-direction: column;
        .footer_div{
            img{
                width: 100px;
                text-align: center;
            }
        }
    }

}