@import "../../../../sass/theme.scss";

.cardProductos{
    @include flex(row, space-around, center);
    max-width: 1500px;
    height: 353px;
    margin: auto;
    padding: 20px;
    .card_imgContainer{
        @include flex(row, flex-start, center);
        margin: 0px 50px;
        height: 353px;
        .cart_imgType{
            display: none;
        }
        img {
            height: 353px;
        }
    }
    .card_infoContainer{
        @include flex(column, space-evenly, center);
        height: 353px;
        width: 412px;
        margin: 0px 45px;
        .card_titles{
            @include flex(column, center, flex-end);
            width: 100%;
            h1{
                @include textFont(17px);
                text-align: end;
                font-weight: bold;
                margin: 0px;
                margin-bottom: 5px;
            }
            h2{
                @include textFont(25px);
                text-align: end;
                margin: 0px; 
            }
        }
        .card_info{
            @include flex(column, center, flex-end);
            width: 100%;
            .card_p{
                p{
                    @include textFont(18px);
                    text-align: end;
                    margin: 0px;
                }
            }
            .coberturas_button{
                @include textFont(18px);
                @include flex(row, center, center);
                background-color: $button;
                color: $textSecondary;
                margin-top: 30px;
                align-self: center;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                width: 189px;
                height: 49px;
                box-shadow: 2px 10px 15px 0px rgba(0,0,0,0.25);
                text-decoration: none;
                text-align: center;
                &:hover{
                    background-color: $hover;
                    color: $textSecondary;
                }
            }
        }
    }        
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .cardProductos{
        @include flex(column, space-around, center);
        flex-direction: column !important;
        max-width: auto;
        height: auto;
        padding: 0px;
        margin-bottom: 40px;
        .card_imgContainer{
            @include flex(column, flex-start, center);
            margin: 0px;
            height: auto;
            .cart_imgType{
                display: block;
                align-self: flex-start;
                @include textFont(17px);
                text-align: start;
                font-weight: bold;
                margin: 0px;
                margin-bottom: 5px;
            }
            img {
                width: 90vw;
                height: auto;
            }
        }
        .card_infoContainer{
            @include flex(column, space-evenly, center);
            height: auto;
            width: auto;
            margin: 0px;
            .card_titles{
                @include flex(column, center, flex-end);
                width: 100%;
                h1{
                    display: none;
                }
                h2{
                    @include textFont(20px);
                    text-align: center !important;
                    margin: 10px 0px 18px 0px; 
                }
            }
            .card_info{
                @include flex(row, center, flex-start);
                width: 100%;
                .card_p{
                    p{
                        @include textFont(17px);
                        text-align: start;
                        margin: 0px;
                    }
                }
                .coberturas_button{
                    @include textFont(17px);
                    @include flex(row, center, center);
                    margin-top: 0px;
                    border-radius: 50px;
                    width: 130px;
                    height: 30px;
                    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.25);
                }
            }
        }        
    }

}