@import "../../../../sass/theme.scss";

.cardProductos{
    @include flex(row, space-around, center);
    max-width: 1500px;
    height: 353px;
    margin: auto;
    padding: 20px;
    .card_imgContainer{
        @include flex(row, flex-start, center);
        margin: 0px 50px;
        height: 353px;
        img {
            height: 353px;
        }
    }
    .card_infoContainer{
        @include flex(column, space-around, center);
        height: 353px;
        width: 412px;
        margin: 0px 45px;
        .card_titles{
            @include flex(column, center, flex-end);
            width: 100%;
            h1{
                @include textFont(17px);
                text-align: end;
                font-weight: bold;
                margin: 0px;
                margin-bottom: 5px;
            }
            h2{
                @include textFont(28px);
                text-align: end;
                margin: 0px; 
            }
        }
        .card_info{
            @include flex(column, center, flex-end);
            width: 100%;
            p{
                @include textFont(20px);
                text-align: end;
                margin: 0px;
            }
            .coberturas_button{
                @include textFont(20px);
                @include flex(row, center, center);
                background-color: $button;
                color: $textSecondary;
                margin-top: 30px;
                align-self: center;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                width: 189px;
                height: 49px;
                box-shadow: 2px 10px 15px 0px rgba(0,0,0,0.25);
                text-decoration: none;
                text-align: center;
                &:hover{
                    background-color: $hover;
                    color: $textSecondary;
                }
            }
        }
    }        
}