@import "../../sass/theme.scss";

nav{
    @include flex(row, space-around, center);
    background-color: $background;
    width: 100%;
    height: 120px;
    padding: 5px 0px;
    .nav_divLogo{
        img {
            width: 94px;
            height: auto;
        }
    }
    .nav_divLinks{
        margin: 0px 50px;
        .nav_link{
            @include titleFont(25px);
            color: $title;
            text-decoration: none;
            margin: 0px 40px;
            padding: 10px 30px;
            border-radius: 35px;
            transition: all 500ms;
            &:hover{
                background-color: $button;
                color: $textSecondary;
            }
        }
    }
}