@import "../../../../sass/theme.scss";

.aseguradorasInicio{
    margin-top: 80px;
    padding-bottom: 150px;
    .aseguradorasInicio_title{
        @include titleFont(40px);
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }
    .aseguradorasInicio_swiper{
        padding: 100px 0px;
        .swiper-button-next,
        .swiper-button-prev {
          color: black !important;
        }
    }
    .aseguradorasInicio_button{
        @include flex(row, center, center)
    }
    
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .aseguradorasInicio{
        margin-top: 40px;
        padding-bottom: 40px;
        .aseguradorasInicio_title{
            @include titleFont(25px);
            margin-bottom: 20px;
        }
        .aseguradorasInicio_swiper{
            padding: 20px 0px;
            .swiper-button-next,
            .swiper-button-prev {
              color: black !important;
              font-size: 10px !important;
            }
            .swiper-button-next:after ,
            .swiper-button-prev:after {
              color: black !important;
              font-size: 20px !important;
              font-weight: bold !important;
            }
        }
        .aseguradorasInicio_button{
            @include flex(row, center, center)
        }
        
    }

}