@import "../../sass/theme.scss";

.aseguradoras{
    background-color: $background;
    @include flex(row, space-evenly, center);
    padding: 40px 0px 80px 0px;
    .aseguradoras_buttons{
        @include flex(column, space-evenly, center);
        .aseg_button{
            @include textFont(18px);
            font-weight: bold;
            width: 330px;
            height: 47px;
            border-radius: 12px;
            border: none;
            background-color: white;
            box-shadow: 2px 10px 15px 0px rgba(0,0,0,0.25);
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.25s linear;
            &:hover{
                background-color: $button;
                color: white;
            }
            &:active{
                background-color: $button;
                color: white;
            }
        }
    }
    .aseguradoras_cards{
        @include flex(column, center, center);
    }
}