@import "../../../sass/theme.scss";

.cardProductos{
    @include flex(row, space-around, center);
    max-width: 1500px;
    height: 300px;
    margin: auto;
    padding: 20px;
    .card_imgContainer{
        @include flex(row, flex-start, center);
        margin: 0px 50px;
        height: 300px;
        width: 70%;
        img {
            height: 300px;
        }
    }
    .card_infoContainer{
        @include flex(column, space-around, center);
        height: 300px;
        width: 30%;
        margin: 0px 50px;
        .card_titles{
            @include flex(column, center, flex-end);
            width: 100%;
            h1{
                @include textFont(17px);
                text-align: end;
                font-weight: bold;
                margin: 0px;
                margin-bottom: 5px;
            }
            h2{
                @include textFont(25px);
                text-align: end;
                margin: 0px; 
            }
        }
        .card_info{
            @include flex(column, center, flex-end);
            width: 100%;
            p{
                @include textFont(20px);
                text-align: end;
                margin: 0px;
            }
            button{
                @include textFont(20px);
                background-color: $button;
                color: $textSecondary;
                margin-top: 30px;
                padding: 10px 20px;
                align-self: center;
                border: none;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }        
}