.cardProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  height: 300px;
  margin: auto;
  padding: 20px;
}

.cardProductos .card_imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 50px;
  height: 300px;
  width: 70%;
}

.cardProductos .card_imgContainer img {
  height: 300px;
}

.cardProductos .card_infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 30%;
  margin: 0px 50px;
}

.cardProductos .card_infoContainer .card_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.cardProductos .card_infoContainer .card_titles h1 {
  font-size: 17px;
  font-family: "Light", sans-serif;
  text-align: end;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

.cardProductos .card_infoContainer .card_titles h2 {
  font-size: 25px;
  font-family: "Light", sans-serif;
  text-align: end;
  margin: 0px;
}

.cardProductos .card_infoContainer .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.cardProductos .card_infoContainer .card_info p {
  font-size: 20px;
  font-family: "Light", sans-serif;
  text-align: end;
  margin: 0px;
}

.cardProductos .card_infoContainer .card_info button {
  font-size: 20px;
  font-family: "Light", sans-serif;
  background-color: #494949;
  color: white;
  margin-top: 30px;
  padding: 10px 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=cardProductos.css.map */