@import "../../sass/theme.scss";

.contacto{
    @include titleFont(15px);
    font-weight: 500;
    text-align: center;
    background-color: $background;
    padding: 40px 0px 80px 0px;
    h1{
        @include titleFont(40px);
        font-weight: 500;
        text-align: center;
        margin-bottom: 80px;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media(max-width: 992px){
            flex-direction: column;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: auto;
            @media(max-width: 992px){
                width: 100%;
            }
            .principal{
                color: $text;
                font-weight: 700;
                margin-bottom: 0rem;
                font-size: 1.4rem;
                font-family: "Light", sans-serif;
            }
            .secundario{
                color: $primary;
                font-weight: 700;
                margin-top: 0rem;
                font-size: 1.4rem;
                font-family: "Light", sans-serif;
                a{
                    color: $primary;
                    font-weight: 700;
                    margin-top: 0rem;
                    font-size: 1.4rem;
                    font-family: "Light", sans-serif;
                    cursor: pointer;
                }
            }
            form{
                width: 40rem;
                @media(max-width: 992px){
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: auto;
                }
                .principal{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: auto;
                    @media(max-width: 992px){
                        width: auto;
                    }
                    label{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        font-weight: 300;
                        margin: 0.3rem 0rem 0.3rem 0rem;
                        font-size: 0.8rem;
                        @media(max-width: 992px){
                            margin-right: 0px;
                        }
                        div{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            width: 100%;
                            p{
                                margin: 0rem 0rem 0rem 0.5rem;
                                color: $button;
                            }
                        }
                    }
                    input{
                        border-radius: 0.5rem;
                        border: none;
                        background-color: $secondaryBackground;
                        padding: 0.8rem;
                        margin: 0.3rem 0rem 0.3rem 0rem;
                        width: 100%;
                        @media(max-width: 992px){
                            width: 108px;
                        }
                    }
                    .inputNombre{
                        width: 85%;
                        @media(max-width: 992px){
                            width: 138px;
                            margin-right: 1rem;
                        }
                    }

                    
                }
                label{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    font-weight: 300;
                    font-size: 0.8rem;
                    margin: 0.8rem 0rem;
                    font-family: "Light", sans-serif;
                    @media(max-width: 992px){
                        width: auto;
                        margin: 0rem
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        width: 100%;
                        p{
                            margin: 0rem 0rem 0rem 0.5rem;
                            color: $button;
                        }
                    }
                    .button{
                        width: 105%;
                        padding: 1rem 0rem;
                        border-radius: 1rem;
                        border: none;
                        background-color: $button;
                        color: #ffffff;
                        font-weight: 600;
                        animation: all 1s linear;
                        cursor: pointer;
                        box-shadow: 2px 10px 15px 0px rgb(0 0 0 / 25%);
                        transition: all 0.1s ease-in-out;
                        @media(max-width: 992px){
                            width: 292px;
                        }
                        &:active{
                            transform: scale(.95);
                            transition: all 0.15s ease-in-out;
                        }
                        &:hover{
                            background-color: $hover;
                        }
                    }
                }
                input{
                    border-radius: 0.5rem;
                    border: none;
                    background-color: $secondaryBackground;
                    padding: 0.8rem;
                    width: 100%;
                    margin: 0.3rem 0rem 0.8rem 0rem;
                    @media(max-width: 992px){
                        width: 292px;
                    }
                }
                select{
                    @extend label;
                    border-radius: 0.5rem;
                    border: none;
                    background-color: $secondaryBackground;
                    padding: 0.8rem;
                    margin: 0.3rem 0rem 0.8rem 0rem;
                    width: 103%;
                    @media(max-width: 992px){
                        width: 315px;
                    }
                }
                textarea{
                    @extend label;
                    border-radius: 0.5rem;
                    border: none;
                    background-color: $secondaryBackground;
                    padding: 0.8rem;
                    margin: 0.8rem 0rem;
                    margin-top: 0.3rem;
                    width: 100%;
                    height: 8rem;
                    max-height: 8rem;
                    max-width: 100%;
                    @media(max-width: 992px){
                        width: 292px;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        width: 90%;
                        p{
                            margin: 0rem 0rem 0rem 0.5rem;
                            color: $button;
                        }
                    }
                }
            }
        }
        div:last-child{
            width: 30%;
            @media(max-width: 992px){
                width: 100%;
                margin-top: 2rem;
            }
        }
    }
}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .contacto{
        padding: 40px 0px;
        h1{
            @include titleFont(25px);
            margin-bottom: 40px;
        }
        div{
            div{
                .principal{
                    font-size: 17px;
                }
                .secundario{
                    font-size: 17px;
                    a{
                        font-size: 17px;
                    }
                }
            }
        }
    }

}