.pregunta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0rem 2rem 0rem;
    @media(max-width: 576px){
        width: 100%;
    }
    .pregunta_principal{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        p{
            font-size: 24px;
            margin: 0rem 1rem 0rem 0rem;
            font-weight: 500;
            user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none; 
            -moz-user-select: none;
            -ms-user-select: none;
        }
        h4{
            margin: 0rem;
            font-size: 18px;
            font-weight: 500;
            user-select: none;
            -webkit-user-select: none;
            -khtml-user-select: none; 
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
    .pregunta_secondary{
        display: none;
        height: 0rem;
        opacity: 0;
        width: auto;
        padding: 0rem;
        color: #000000;
        transition: all 0.25s linear;
        p{
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0rem;
        }
    }
    .show{
        display: flex;
        margin-top: 0rem;
        opacity: 1;
        padding: 1.5rem 0rem 0rem 1rem;
        height: auto;
        margin: auto;
        justify-content: flex-start;
        transition: all 0.25s linear;
    }
}