@import "../../../../sass/theme.scss";

.inversiones{
    @include flex(column, center, center);
    margin: 80px 0px;
    .inversiones_title{
        @include titleFont(44px);
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }
    .inversiones_div{
        @include flex(row, center, center);

        .inversiones_cards{
            @include flex(row, center, center);
            flex-wrap: wrap;
            width: 70%;
            
            .inversiones_cards_dos{
                @include flex(row, center, center);
                .inversiones_card{
                    @include flex(row, center, center);
                    max-width: 550px;
                    height: 250px;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    margin: 10px;
                    padding: 20px;
                    border-radius: 20px;
                    width: calc(100% / 3 - 20px);
                    .inversiones_text_container{
                        h2{
                            @include textFont(28px);
                            margin: 10px 0px 15px 0px;
                            text-align: center;
                        }
                        p {
                            @include textFont(20px);
                            text-align: center;
                        }
                    }
                    .inversiones_img_container{
                        align-self: flex-start;
                        margin-right: 20px;
                        img{
                            
                            width: 80px;
                            height: 80px;
                        }
                    }
                    
                }
            }
            
        }

        .inversiones_button{
            width: 30vw;
        }
    }
}