@import "../../../../sass/theme.scss";

.inversiones{
    .inversiones_title{
        @include titleFont(35px);
        font-weight: 500;
        text-align: center;
        margin: 80px 0px 40px 0px;
    }
}