@import "../../../../sass/theme.scss";

.inversiones{
    @include flex(column, center, center);
    margin: 80px 0px;
    .inversiones_title{
        @include titleFont(40px);
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }
    .inversiones_div{
        @include flex(row, center, center);

        .inversiones_cards{
            @include flex(column, center, center);
            flex-wrap: wrap;
            margin-right: 20px;
            .inversiones_cards_dos{
                @include flex(row, center, center);
            }
            
        }
    }
}